body{
    background-color: lightblue;
    font-size: 30px;
}

h1{
    text-align: center;
    border: 10px;
    border-style:dotted;
    border-width: 10px;
    border-color: darkblue;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}